.Rproj.user
.Rhistory
.RData
.Ruserdata

# Folders
08_SIMULACIONES/

#
00_Datos/01_Originales/Vancomicina_sin_etiquetas.xlsx
00_Datos/01_Originales/original_200219.xlsx
00_Datos/01_Originales/_verific_observ_.xlsx

00_Datos/01_Originales/~$Vancomicina_sin_etiquetas.xlsx
00_Datos/01_Originales/~$original_200219.xlsx
00_Datos/01_Originales/~$_verific_observ_.xlsx